<div class="container">
  <div class="row">
    
    <div class="col-9 pl-0 pr-0 video-container">
      <youtube-player (ready)="savePlayer($event)" *ngIf="videoLoaded" [videoId]="selectedVideoItemId" [width]="'100%'"
        [height]="'100%'">
      </youtube-player>
      <div *ngIf="!videoLoaded" class="instructionMessageContainer">
        <span class="instructionMessage">Start searching for video to get result</span>
      </div>
    </div>

    <div class="col-3  video-list-container">
      <div class="col-12 mt-2">
        <span class="listMessage">Related Videos</span>

      </div>
      <div class="col-12 mt-2">
        <div class="line">

        </div>
      </div>
      <div *ngIf="videoLoaded">
        <app-video-list (itemSelected)="eventFromChild($event)" [arrayOfVideos]="allVideoItems"></app-video-list>
      </div>
      <div *ngIf="!videoLoaded">
        <ul>
          <div *ngFor="let item of fakeVideoItems">
            <div class="col-12">
              <li class="listItem">
                <div class="youtubeListItemImage"></div>
                <div class="videoTitle">
                  <div class="videoDescription"></div>
                </div>

              </li>
            </div>

          </div>
        </ul>
      </div>
    </div>

  </div>
  <div class="row" *ngIf="videoLoaded">
    <div class="col-12 video-information-container" (click)="RedirecToRoute(selectedChanelId)">
      <div class="row mt-4 chanelTitle">
        <div class="col-12 pl-0">
          <img [src]="chanelPhotoUrl" class="chanelImage">
          <div class="VideoItemChanelTitle">
            {{selectedVideoItemChanelTitle}}
          </div>
        </div> 
       
      </div>
      <div class="row mt-2 videoName">
        {{selectedVideoName}}
      </div>
      <div class="row mt-2 videoFooterDescription">
        {{selectedVideoDescription}}
      </div>
    </div>
  </div>
</div>