.video-container{
    background-color: magenta;
    height: 470px;
    max-width: 1140px;
}
.video-list-container{
}

.video-information-container{
    background-color: yellow;
    height: 200px;
}

.youtubeListItemImage{
    height: 100%;
    width: 80%;
}
li{
    margin-top: 10px;
    height: 60px;
    display: block;
}
ul{
    padding: 0px;
}