<div class="container">
  <div class="row">
      <div class="col-4 ">
        <div class="imageContainer">
            <img class="logoImage"src="assets/logo.png">

        </div>
      
      </div>
      <div class="col-8">
        <div [formGroup]= 'searchForm' class="searchContainer">
          <input class="searchInput" placeholder="Search" name="search" formControlName="search" autocomplete="off"/>
          <i (click)="SearchYoutubeService()"class="icon icon-icon-search"></i>
        
        </div>
      </div>
  </div>
</div>